.all-links {
  gap: 2.4rem;
  margin-bottom: 6rem;
  margin-left: 2rem;
}

.flex-links {
  gap: 1.2rem;
}
 
.p-link {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

a {
  line-height: 1.2;
}

.link {
  width: fit-content;
}

.ol {
  gap: 2.4rem;
}

.ol-li {
  font-size: 1.6rem;
  color: #3C0802;
  line-height: 1.6;
}

.info-bold {
  font-weight: bold;
  line-height: 1.5;
}

.sport {
  margin-top: 3rem;
}

.rectangle-small-pink-links {
  left: 5%;
  top: 5%;
}

.rectangle-small-pink-2-links {
  left: 32%;
  top: 12%;
}

.links-underline a {
  text-decoration: underline;
}

.links-underline a:hover, .links-underline a:active {
  text-decoration: none;
}

@media (max-width: 722px) {
  .header-h1 {
   margin-top: 0;
  } 

  .all-links {
    margin: 0 0 6.4rem 0;
  }

  h2 {
    line-height: 1.5;
  }
 }