.all-links {
  gap: 2.4rem;
  margin-bottom: 8rem;
  margin-left: 2rem;
}

.flex-links {
  gap: 1.2rem;
}
 
.p-link {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

a {
  line-height: 1.2;
}

.link {
  width: fit-content;
}

.ol {
  gap: 2.4rem;
}

.ol-li {
  font-size: 1.6rem;
  color: #3C0802;
  line-height: 1.6;
}

.info-bold {
  font-weight: bold;
}

.sport {
  margin-top: 4rem;
}

@media (max-width: 722px) {
  .header-h1 {
   margin-top: 0;
  } 

  .all-links {
    margin-bottom: 6.4rem;
  }
 }