.insurance-article {
  margin-bottom: 8rem;
  gap: 3rem;
}

a {
  color: #533E3C;
  text-decoration: none;
  width: fit-content;
}

a:hover, a:active {
  text-decoration: underline;
}

/* QUERY */

@media (max-width: 722px) {
  .header-h1 {
   margin-top: 0;
  } 
 }

@media (max-width: 470px) {
  .insurance-article {
    line-height: 1.5;
  }
}