.insurance-article {
  margin-bottom: 8rem;
  gap: 3rem;
}

a {
  color: #3c0802;
  text-decoration: none;
  width: fit-content;
}

a:hover,
a:active {
  text-decoration: underline;
}

.insurance-table {
  width: 70%;
  height: 250px;
  margin-bottom: 6rem;
}

.insurance-table a,
.insurance-table th {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
  height: 15%;
  padding: 0 0.2rem;
}

.rectangle-small-pink-insurance {
  left: 5% !important;
}

.rectangle-small-pink-2-insurance {
  left: 27% !important;
  top: 10% !important;
}

/* QUERY */

@media (max-width: 722px) {
  .header-h1 {
    margin-top: 2rem !important;
  }

  .insurance-table {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .insurance-table {
    height: 400px;
  }
}

@media (max-width: 470px) {
  .insurance-article {
    line-height: 1.5;
  }
}
