footer {
  width: 100%;
  background-color: #3C0802;
  color: #FDEDEE;
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  /* position: absolute; */
  bottom: 0;

  /* -webkit-box-shadow: 0px -19px 24px -24px rgba(0,0,0,0.59);
-moz-box-shadow: 0px -19px 24px -24px rgba(0,0,0,0.59);
box-shadow: 0px -19px 24px -24px rgba(0,0,0,0.59); */
}

footer .link {
  color: #FDEDEE;
}

.footer-contact {
  gap: 2rem;
  /* line-height: 1.75rem; */
  line-height: 2rem;
  justify-content: space-between;
}

.footer-h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-style: initial;
}

.footer-contact p, .footer-contact a {
  font-size: 1.4rem;
}

/* OPENING HOURS */

.footer-table {
  max-width: 500px;
  border: 0.5px solid #FDEDEE;
  font-size: 1.4rem;
  text-align: center;
}

 footer .footer-table th, footer .footer-table td {
  padding: 0.5rem !important;
}

.footer-table th {
  font-weight: 400 !important;
  border-bottom: 0.5px solid #FDEDEE;
  border-right: 0.5px solid #FDEDEE;
}

.footer-table th:first-child, .footer-table td:first-child {
  border-right: 0.5px solid #FDEDEE;
}

.footer-table th:last-child, .footer-table td:last-child {
  border-right: none;
}

.footer-table td {
  border-right: 0.5px solid #FDEDEE;
  border-bottom: 0.5px solid #FDEDEE;
}

.footer-table td:last-child {
  width: 30%;
}

.footer-table-last {
  border-bottom: none !important;
}

/* QUERY */

@media (max-width: 830px) {
  .footer-table {
    width: 0px;
  }
}

@media (max-width: 640px) {
  footer {
    flex-direction: column;
    padding: 5rem;
    gap: 5rem;
  }
}

@media (max-width: 390px) {
  footer {
    padding: 5rem 1rem;
  }
  
  .footer-contact {
    margin: 0 0 0 2rem;
    align-self: start;
  }

  .footer-opening-hours {
    align-self: center !important;
  }
}
